{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<!-- Hero -->
<section class="hero text-center">
    <div class="container">
        <h1 class="fw-bold">Hi, I'm Ganapathi</h1>
        <p class="lead">Backend Developer (Django) | API Builder</p>
        <p>I build scalable web applications and REST APIs using Django.</p>

        <a href="#" class="btn btn-light mt-3">View Projects</a>
        <a href="{% url 'blog:home' %}" class="btn btn-outline-light mt-3">Read Blog</a>
    </div>
</section>

<!-- Skills -->
<section class="section text-center">
    <div class="container">
        <h2 class="mb-4">Tech Stack</h2>

        <span class="badge bg-dark badge-tech">Python</span>
        <span class="badge bg-primary badge-tech">Django</span>
        <span class="badge bg-success badge-tech">Django REST Framework</span>
        <span class="badge bg-secondary badge-tech">SQLite / PostgreSQL</span>
        <span class="badge bg-warning text-dark badge-tech">Bootstrap 5</span>
        <span class="badge bg-info text-dark badge-tech">Git</span>
    </div>
</section>

<!-- Featured Projects -->
<section class="section bg-light">
    <div class="container">
        <h2 class="mb-4">Featured Projects</h2>

        <div class="row">
            {% for project in projects %}
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <!--<img src="{{ project.image.url }}" class="card-img-top" alt="Project image"> -->

                    <div class="card-body">
                        <h5>{{ project.title }}</h5>
                        <p>{{ project.description|truncatewords:15 }}</p>

                        <a href="#" class="btn btn-primary btn-sm">Details</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

<!-- Latest Blog -->
<section class="section">
    <div class="container">
        <h2 class="mb-4">Latest Articles</h2>

        <div class="row">
            {% for post in posts %}
            <div class="col-md-4">
                <div class="card">
                    <!--<img src="{{ post.image.url }}" class="card-img-top"> -->

                    <div class="card-body">
                        <h5>{{ post.title }}</h5>
                        <p>{{ post.body|truncatewords:20 }}</p>

                        <a href="{% url 'blog:post' slug %}" class="btn btn-outline-dark btn-sm">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>

{% endblock %}